---
import Layout from "@src/components/Layout.astro";

import { db, Bookmark, eq, and, isNull, NOW } from "astro:db";
import { Debug } from "astro:components";

let statusMessage;

const currentUser = Astro.locals.user;

if (!currentUser) {
  return Astro.redirect("/auth/login/");
}

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const formAction = formData.get("form-action");

  if (formAction === "create-bookmark") {
    // TODO: implement this
    statusMessage = "Created bookmark.";
  }
}
---

<Layout title="Browse">
  {statusMessage && <p>{statusMessage}</p>}
  <p>This is going to be the browse page.</p>

  <form method="GET" action="/browse/iframe">
    <label for="url">URL:</label>

    <input type="text" name="url" id="url" />

    <button>Browse</button>
  </form>
</Layout>
