---
import Layout from "@src/components/Layout.astro";

import { db, MusicItem, MusicItemSnooze,  eq, and, isNull, NOW } from "astro:db";
import { Debug } from "astro:components";

import { calculateSnoozeUntilDate } from "@src/utils/dates";

let statusMessage;

const currentUser = Astro.locals.user;
const musicItemId = Astro.params.musicItemId;
const returnUrlFromSearchParams = Astro.url.searchParams.get("return_to");

if (!currentUser) {
  return Astro.redirect("/auth/login/");
}

const [existingMusicItem] = await db
  .select()
  .from(MusicItem)
  .where(
    and(
      eq(MusicItem.userId, currentUser.id),
      eq(MusicItem.id, musicItemId),
    ),
  ).limit(1);

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const formAction = formData.get("form-action");
  const urlToReturnTo = formData.get("return_to") || `/music-items/`;

  if (formAction === "snooze") {
    await db
      .update(MusicItem)
      .set({
        status: "snoozed",
        statusChangedAt: NOW,
        statusChangedFrom: existingMusicItem.status,
      })
      .where(eq(MusicItem.id, musicItemId));

    // eg: 1
    const snoozeTimeNum = parseInt(formData.get("snooze_time"), 10);

    // eg: 'day', 'week' or 'month'
    const snoozeTimeUnit = formData.get("snooze_time_unit");

    const snoozeUntilDate = calculateSnoozeUntilDate(snoozeTimeNum, snoozeTimeUnit);

    const note = formData.get("note");

    await db.insert(MusicItemSnooze).values({
      musicItemId,
      snoozeUntil: snoozeUntilDate,
      note
    });

    const returnUrl = new URL(urlToReturnTo, Astro.url.origin);
    returnUrl.searchParams.set("status_message", "Music item snoozed.");

    return Astro.redirect(returnUrl);
  }
}

---

<Layout title="Snoozing music item">
  {statusMessage && <p>{statusMessage}</p>}

  <form method="POST">

    <label for="note">Add a note (optional)</label>
    <input type="text" name="note" id="note" />

    <fieldset>
      <legend>Snooze for:</legend>

    <input type="number" name="snooze_time" id="snooze_time" value={1} required />

    <select name="snooze_time_unit">
      <option value="day">day</option>
      <option value="week">week</option>
      <option value="month">month</option>
    </select>

      </fieldset>

    <input type="hidden" name="return_to" value={returnUrlFromSearchParams} />
    <button name="form-action" value="snooze" type="submit">Snooze</button>
    </form>

  <Debug {existingMusicItem} />
</Layout>
