---
import Layout from "@src/components/Layout.astro";
---

<Layout title="Music discovery app">
  <p>
    This is a web app that helps you discover new music. It does this by
    encouraging <strong>active music exploration</strong>, rather than giving
    you a passive list of recommendations.
  </p>
  <p>This app is for you if:</p>
  <ul>
    <li>
      you feel like you are in a rut and have been listening to the same music
      over and over again
    </li>
    <li>
      you think of yourself as a 'music person' but you feel like it's difficult
      to find new music these days
    </li>
    <li>
      you are not satisfied with Spotify's music recommendations - you feel like
      it always gives you the same music.
    </li>
  </ul>
  <p>
    The truth is, now is the best time to be a music fan. There is more music
    available than ever before, and you can enjoy it if you open up your
    mindset.
    <p>
      This app encourages you to change your mindset about discovering new
      music.
    </p>
    <h2>How it works</h2>
    <ul>
      <li>
        You search the web for articles about music that you want to check out.
        These could be music reviews, interviews or best-of lists.
      </li>
      <li>
        When you add these articles to the app, it links the articles to Spotify
        artists or albums.
      </li>
      <li>The app encourages you to check out the music you have saved.</li>
      <li>
        By using the app, you build up a list of 'sources' that are places to
        check out for new music.
      </li>
    </ul>
  </p>
</Layout>
