---
const { bookmarks, actions } = Astro.props;
---

<ul>
  {
    bookmarks.map((bookmark: any) => (
      <li>
        <a href={bookmark.url} target="_blank">
          {bookmark.note || bookmark.url}
        </a>
        <form method="POST">
          <input type="hidden" name="id" value={bookmark.id} />
          {actions.map((action: any) => (
            <button name="form-action" value={action.value}>
              {action.label}
            </button>
          ))}
        </form>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    list-style: none;
    padding-left: 0;
  }

  ul > li {
    flex: 1 1 12rem;
    border: 1px solid black;
    padding: var(--space-s);
  }
</style>
